body {
    display: flex;
    background-color: #FBCBDC;
    justify-content: center;
    align-items: center;
    height: 90vh;
}


#yes{
    margin-right: 250px;
    
}

#no{
    margin-left: 150px;
    transition: 0.5s;
}


.header{
    font-family: 'Nunito';
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}



.imag{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

img{
    padding-left: 10%;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    background-color: #FFB6C1;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    text-decoration: none;
    border: none;
    border-radius: 12px;
    position: absolute;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
}